/* Profile, Community, and Logout links */
.nav-links {
  color: #FFF;
  text-decoration: none;
}

.nav-links:hover {
  cursor: pointer;
  color: yellow;
  text-decoration: none;
}

#logout-link {
  float: right;
}
/* End */

table {
  margin-top: 16px;
}

th, td {
  border: 2px solid yellow;
  padding: 4px;
  width: 150px;
}
