<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-8 login-component'>
      <p> Don't have an account yet?
        <a class="register-link" [routerLink]="['/']"> Sign up</a>
      </p>
      <!-- Login Form -->
      <form (ngSubmit)='login()' id='loginForm' [formGroup]='userLogin'>
        <div class='form-group'>
          <input type='text' id='loginEmail' formControlName='email' name='loginEmail' placeholder="Email">
        </div>
        <div class='form-group'>
          <input type='password' id='loginPassword' formControlName='password' name='loginPassword' placeholder="Password">
          <!-- Form validation errors for password -->
          <!-- Display error if any from db -->
          <span class='error' *ngIf='errors'> {{ errors }} </span>
          <!-- End -->
        </div>
        <button> Login </button>
        <span class='error' *ngIf='userLogin.invalid'> Invalid fields present </span>
      </form>
      <!-- End of Login Form -->
    </div>
  </div>
</div>
