#emptyImage {
    width: 300px;
    height: 450px;
    background-color: gray;
}

#resultTitle, #emptyImage, form {
    font-size: 21px;
}

.pageNumbers {
    width: 20px;
    border: 1px solid gray;
    display: inline-block;
    color: yellow;
    margin-left: 10px;
}

.pageNumbers:hover {
    cursor: pointer;
    color: green;
}

#pageNumbers_container {
    text-align: center;
}

#year {
    width: 50px;
}


