<!-- Display Results -->
<div class='container-fluid'>
  <div class='row'>
    <div class='col-12'>
      <form (ngSubmit)='search()'>
        <label for='movie'> Movie Name: </label>
        <input type='text' id='movie' name='movie' [(ngModel)]='movie.name'>
        <label for='year'> Year: </label>
        <input type='text' id='year' name='year' [(ngModel)]='movie.year'>
        <button> Search </button>
      </form>
    </div>
  </div>
  <div class='row'>
    <h1 *ngIf='errors'> {{ errors }} </h1>
    <div class='col-md-3' *ngFor='let result of results'>
      <p id='resultTitle'> {{ result.Title }} - {{ result.Year }} </p>
      <p *ngIf='result.Poster === "N/A" else poster' id='emptyImage'> Image not available </p>
      <ng-template #poster>
        <img src='{{ result.Poster }}'>
      </ng-template>
    </div>
  </div>
  <div class='row'>
    {{ totalResults }}
  </div>
</div>

