<div class='container-fluid'>
  <div class='row'>
    <div class='col-md-12'>
      <a class="nav-links" id='homeLink' [routerLink]="['/home', user.alias]"> Home </a>
      <a class="nav-links" id='communityLink' [routerLink]="['/community', user.alias]"> My Community </a>
      <a id="logout-link" class="nav-links" [routerLink]="['/']"> Log out</a>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 profile-info' *ngIf='profileBoolean'>
      <p> <i class="fas fa-user"></i> {{ user.fullName }} a.k.a {{ user.alias }} </p>
      <p> <i class="far fa-envelope"></i> {{ user.email }} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center" *ngIf='favorites.length == 0'> Favorites </h2>
      <h2 class="text-center" *ngIf='favorites.length > 0'> Favorites </h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3' *ngFor='let favorite of favorites'>
      <p class='resultTitle'> <span (click)='removeFavorite(favorite)'> <i class="fas fa-trash-alt"></i></span> {{ favorite.Title }} - {{ favorite.Year }} </p>
      <p *ngIf='favorite.Poster === "N/A" else poster' class='emptyImage'> Image not available </p>
      <ng-template #poster>
        <img src='{{ favorite.Poster }}'>
      </ng-template>
    </div>
  </div>
</div>

