input[type="text"], input[type="password"], button {
  padding: 4px 0px 4px 4px;
  width: 200px;
}

/* Login link container */
.register-component p {
  text-align: right;
}

.login-link {
  color: white;
}
 /* End */

.error {
  color: red;
  padding: 8px;
}
