<div class="container">
  <div class="row justify-content-center">
    <div class='col-6 register-component'>
      <!-- Registration Form -->
      <form (ngSubmit)='register()' id='registrationForm' [formGroup]='registration'>
        <div class='form-group'>
          <input type='text' formControlName='alias' name='alias' id='alias' placeholder='Your username'>
          <!-- Form validation errors for username/alias -->
          <span class='error' *ngIf='alias.invalid && alias.dirty'> Alias is required </span>
          <!-- End -->
        </div>
        <div class='form-group'>
          <input type='text' id='fullName' formControlName='fullName' name='fullName' placeholder='Your full name'>
          <!-- Form validation errors for full name -->
          <span class='error' *ngIf='fullName.invalid && fullName.dirty'> Full name is required </span>
          <!-- End -->
        </div>
        <div class='form-group'>
          <input type='text' id='email' formControlName='email' name='email' placeholder='Your email'>
          <!-- Form validation errors for email -->
          <span class='error' *ngIf='email.invalid && email.dirty'> Email is required </span>
          <!-- End -->
        </div>
        <div class='form-group'>
          <input type='password' id='password' formControlName='password' name='password' placeholder='Your password'>
          <!-- Form validation errors for password -->
          <span class='form-control-feedback' *ngIf='password.errors && (password.dirty || password.touched)'>
            <span class='error' *ngIf='password.errors.required'> Password is required </span>
            <span class='error' *ngIf='password.errors.minlength'> Password must be at least 5 characters </span>
          </span>
          </div>
          <!-- End -->
        <div class='form-group'>
          <input type='password' id='confirmPassword' formControlName='confirmPassword' name='confirmPassword' placeholder='Confirm password'>
          <!-- Form validation errors for confirming password -->
          <span class='error' *ngIf='password.value !== confirmPassword.value'> Password does not match </span>
          <!-- End -->
        </div>
        <button type='submit'> Register </button>
        <!-- Display invalid fields present  -->
        <span class='error' *ngIf='registration.invalid || password.value !== confirmPassword.value'> Invalid fields present </span>
      </form>
      <!-- End of Registration Form -->
    </div>
  </div>
</div>
