.emptyImage {
    width: 300px;
    height: 300px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 300px;
    height: 300px;
}

.resultTitle, .emptyImage, form {
    font-size: 21px;
}

/* Page Numbers */
.pageNumbers {
    width: 20px;
    border: 1px solid gray;
    display: inline-block;
    color: yellow;
}

.pageNumbers:hover {
    cursor: pointer;
    color: green;
}

#pageNumbers_container {
    margin-top: 15px;
    text-align: center;
}

.pageNumbers {
    margin-left: 5px;
    margin-right: 5px;
}

.pageButtons {
    margin-left: 10px;
    margin-right: 10px;
}
/* End */

/* Profile Link */
#profileLink:hover, #communityLink:hover {
    cursor: pointer;
    color: yellow;
}

#profileLink, #communityLink {
    font-size: 24px;
}
/* End */

#year {
    width: 50px;
}


